body {
  font-family: Calibri, Helvetica, sans-serif;
}

/* * {
  margin: 0;
}*/


.header {
  padding: 25px 0px 25px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header div {
  float: left;
}

.header div a {
  text-decoration: none;
  color: #414141;
  width: 33%;
  padding: 0px 40px 0px 0px;
}

#main {
  display: grid;
  grid-template-areas: 'svg1 svg2 svg3 svg4';
  grid-gap: 0;
}

/*.svg-container {
  padding: 30px;
   width: 600px;
  height: 600px; 
}*/

#map {
  /* overflow: hidden; */
  grid-area: svg1;
}

#lines {
  grid-area: svg2;
  padding-top: 30px;
}

#age {
  grid-area: svg3;
  padding-top: 30px;
}

#sex {
  grid-area: svg4;
  padding-top: 10px;
}

.landmarks{
  border: 5px solid green;
}

.points{
  border-radius: 50%;
  display: inline-block;
  margin-left:25px;
}
.male{
  height: 15px;
  width: 15px;
  background-color: blue;
}
.female{
  height: 15px;
  width: 15px;
  background-color: magenta;
}
.pump{
  height: 10px;
  width: 20px;
  background-color: maroon;
}

#toggles {
  grid-area: l2;
}

#toggles select {
  padding: 10px;
  width: 150px;
  height: 40px;
}

select>option {
  padding: 10px;
  height: 50px;
}

.container {
  background-color: darkseagreen;
  border: 3px solid black;
  text-align: center;
}

p {
  font-size: 18px;
}

.map-point {
  stroke: black;
  stroke-width: 0.6;
}

.street {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.stnames {
  font-size: 10px;
  fill: orangered;
  font-weight: bolder;
}

.lmarks {
  stroke: green;
  stroke-width: 5px;
  fill: none;
}

.pumps {
  stroke: maroon;
  stroke-width: 3px;
  fill: none;
}

.liney {
  font-weight: bold;
  fill: black;
  text-anchor: start;
}

.linex {
  font-weight: bold;
  fill: black;
  text-anchor: end;
}

.lineg {
  fill: none;
  stroke: black;
  stroke-width: 1.5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.tooltip {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
}

.timeline-point {
  fill: yellowgreen;
  stroke: black;
  stroke-width: 2;
}

.bar {
  fill: red;
  /* changes the background */
  height: 21px;
  transition: fill .3s ease;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
}

.bar text {
  color: black;
}

.bar:hover,
.bar:focus {
  fill: black;
}

.bar:hover text,
.bar:focus text {
  fill: red;
}

.topnav {
  overflow: hidden;
  background-color: darkseagreen;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #333;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* .sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: darkseagreen;
  color: black;
}

.sidebar a:hover:not(.active) {
  background-color: #5b805b;
  color: white;
}

div.content {
  margin-left: 200px;
  // padding: 1px 16px; 
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} */